name: Azure terraform cicd

on: workflow_dispatch

permissions: 
 id-token: write
 contents: read
 
env:
  TF_WORKING_DIR: "."
  TF_VERSION: "1.13.0"
  
jobs:
 terraform-init-plan:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v6-beta

     - name: Terraform installer
       uses: autero1/action-terraform@v3.0.1   
       with: 
         terraform-version: ${{ env.TF_VERSION }}

     - name: Azure Login
       uses: Azure/login@v2.3.0
       with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

     - name: Terraform init
       id: init
       run: terraform init -input=false
       working-directory: ${{ env.TF_WORKING_DIR }}

     - name: Terraform plan
       id: plan
       run: terraform plan -input=false
       working-directory: ${{ env.TF_WORKING_DIR }}

          
       


 
